div {
  margin: 121px 149px;
  width: 483px;
  height: 298px;
  background: #676470;
  color: #fff;
  font-size: 3.4em;
  text-align: center;
  line-height: 298px;
  transition: all 0.3s;
  /* add a transition */
}

.border:hover {
  margin: 121px 149px;
  width: 483px;
  height: 298px;
  background: #676470;
  border: solid 2px;
  color: #fff;
  font-size: 3.4em;
  text-align: center;
  line-height: 298px;
  box-shadow: inset 0 0 0 20px turquoise

}
