/* Define #button styles */
#button {
  background: #00a8ff;
  color: white;
  padding: 10px;
  min-width: 100px;
  min-height: 50px;
  border-radius: 5px;
  border-bottom: 2px solid #0074B2;
  transition: all 0.5s;
}

/* Define #button button hover styles */
#button:hover {
  background: #D32F2F;
  border: none;
  border-radius: 2px;
  font-family: Roboto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
