.shrink {
  margin: 121px 149px;
  width: 483px;
  height: 298px;
  background: #676470;
  color: #fff;
  font-size: 3.4em;
  text-align: center;
  line-height: 298px;
  transition: all 0.3s; 
}

.shrink:hover {
  transform: scale(0.75, 0.75)
}
