.shadow {
  margin: 121px 149px;
  width: 483px;
  height: 298px;
  background: #676470;
  color: #fff;
  font-size: 3.4em;
  text-align: center;
  line-height: 298px;
  transition: all 0.3s;
}

.shadow:hover {
  box-shadow: 10px 10px black, 15px 15px black;
  transform: translateX(-15px)
}
